#clockContainer {
    background: linear-gradient(skyblue, whitesmoke, skyblue);
    height: 40vw;
    width: 40vw;
    border-radius: 350px;
    margin: auto;
    border: 6px solid rgb(53, 53, 53);
    position: absolute;
    top: 50px;
    left: 450px;
}

#hour,
#minute,
#second {
    /* background: red; */
    position: absolute;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    height: 23%;
    width: 2.4%;
    left: 49.6%;
    top: 25.7%;
    opacity: 0.8;
    background-color: black;
}

#minute {
    height: 30%;
    width: 1.6%;
    left: 49.9%;
    top: 19%;
    opacity: 0.8;
    background-color: black;
}

#second {
    height: 40%;
    width: 0.8%;
    left: 50.4%;
    top: 8.5%;
    opacity: 0.8;
    background-color: red;
}

.baje12 {
    /* background: orange; */
    position: absolute;
    margin-left: 47%;
    font-size: 50px;
}

.baje3 {
    /* background: orange; */
    position: absolute;
    margin-left: 94%;
    font-size: 50px;
    margin-top: 37vh;
}

.baje6 {
    /* background: orange; */
    position: absolute;
    margin-left: 48.5%;
    font-size: 50px;
    margin-top: 76vh;
}

.baje9 {
    /* background: orange; */
    position: absolute;
    margin-left: 5px;
    font-size: 50px;
    margin-top: 37vh;
}

.dtime {
    /* background-color: red; */
    /* height: 20px;
    width: 100px; */
    position: absolute;
    top: 160px;
    left: 645px;
    text-align: center;
    /* border: 2px solid black; */
    border-radius: 5px;
    font-size: 70px;
    padding: 10px;
}

.dday {
    position: absolute;
    top: 510px;
    left: 590px;
    text-align: center;
    /* border: 2px solid black; */
    border-radius: 5px;
    font-size: 40px;
    padding: 10px;
    font-weight: bold;
}

.welcome {
    position: absolute;
    top: 10px;
    left: 10px;
    /* text-align: center; */
    /* border: 2px solid black; */
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
}